:root {
  --primary-blue: #4dabf7;
  --primary-background: #ffffff;
  --primary-focus: #f06595;
  --default-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 850px;
  min-height: 100%;
  margin: auto;
  font-family: "Pixelify Sans", serif;
  background-image: linear-gradient(
    to right bottom,
    #ff6b6b,
    #f06595,
    #cc5de8,
    #845ef7,
    #5c7cfa,
    #339af0,
    #22b8cf,
    #20c997,
    #51cf66,
    #94d82d,
    #fcc419,
    #ff922b
  );
}

.header-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px;
}

.header-h1 {
  color: var(--primary-background);
  font-size: 40px;
  font-weight: 700;
}

.footer {
  color: var(--primary-background);
  font-size: 20px;
  font-weight: 500;
}

.flex-container {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 562px;
  width: 562px;
  border: var(--primary-blue) solid 1px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--primary-background);
  display: flex;
  flex-wrap: wrap;
}

.click-hover-container {
  margin-bottom: 42px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: inherit;
  height: 50px;
  width: 100px;
  border: 2px solid var(--primary-blue);
  border-radius: 10px;
  margin: 10px;
  padding: 0 5px;
  background-color: var(--primary-background);
  color: var(--primary-blue);
}

.btn:hover,
.btn:focus {
  color: var(--primary-focus);
  border: 2px solid var(--primary-focus);
  transition: 0.4s;
}

.btn:active {
  background-color: var(--primary-focus);
  color: var(--primary-background);
  border: 2px solid var(--primary-background);
  transition: 0.4s;
}

.svg-container {
  margin: 10px;
}

.color-svg {
  display: none;
}

.squares {
  background-color: var(--primary-background);
}

.squares-16 {
  width: 35px;
  height: 35px;
  border: 0.1px solid var(--primary-blue);
}

.squares-32 {
  width: 17.5px;
  height: 17.5px;
  border: 0.1px solid var(--primary-blue);
}

.squares-48 {
  width: 11.67px;
  height: 11.67px;
  border: 0.1px solid var(--primary-blue);
}

.change-color-click {
  background-color: var(--default-color);
}

.change-color-hover {
  background-color: var(--default-color);
}

.erase-color {
  background-color: var(--primary-background);
}
