* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-container {
  height: 560px;
  width: 560px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  background-color: white;
}

.change-color-click {
  background-color: blue;
}

.change-color-hover {
  background-color: red;
}
