* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 800px;
  margin: auto;
}

.header-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px;
}

.flex-container {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 562px;
  width: 562px;
  border: black solid 1px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  background-color: white;
}

.squares-16 {
  width: 35px;
  height: 35px;
  border: 0.1px solid black;
}

.squares-32 {
  width: 17.5px;
  height: 17.5px;
  border: 0.1px solid black;
}

.squares-48 {
  width: 11.67px;
  height: 11.67px;
  border: 0.1px solid black;
}

.change-color-click {
  background-color: black;
}

.change-color-hover {
  background-color: black;
}

.erase-color {
  background-color: white;
}
